<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <title>Water billing system</title>
  </head>
  <body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="{% static 'images/Transparent.png' %}" alt="" class="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Water Billing System</a>
        </li>
       
       
        
      </ul>
      <form class="d-flex me-4 ">
        <span class="nav-item dropdown abc">
          <a class="nav-link dropdown-toggle logout " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown ">
            <li><a class="dropdown-item" href="#">Log-Out</a></li>
            <li><a class="dropdown-item" href="#">Change-Pw </a></li>
            
          </ul>
        </span>
        
      </form>
    </div>
  </div>
  </nav>


<!-- body part -->
    <div class="container-fluid total">
      <div class="row">
        
        <div class="col-lg-10 ">
          <div class="admin">
            <h4 >Admin</h4>
            <img src="{% static 'images/admin.png' %}" alt="Avatar">
          </div>
          <!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<tesla>
    
      <svg class='container' width="400px" height="286px" viewBox="30 27 529 286" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="graph-copy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(30.000000, 27.000000)">
              <g id="y_axis" font-size="11.0833333" font-family=".HelveticaNeueDeskInterface-Regular, .Helvetica Neue DeskInterface" fill="#000" opacity="1" font-weight="bold">
                  <text id="0">
                      <tspan x="25.3008249" y="264.333333">0</tspan>
                  </text>
                  <text id="200">
                      <tspan x="12.7757572" y="232.666667">200</tspan>
                  </text>
                  <text id="400">
                      <tspan x="12.7757572" y="201">400</tspan>
                  </text>
                  <text id="600">
                      <tspan x="12.7757572" y="169.333333">600</tspan>
                  </text>
                  <text id="800">
                      <tspan x="12.7757572" y="137.666667">800</tspan>
                  </text>
                  <text id="1000">
                      <tspan x="6.51322328" y="106">1000</tspan>
                  </text>
                  <text id="1200">
                      <tspan x="6.51322328" y="74.3333333">1200</tspan>
                  </text>
                  <text id="1400">
                      <tspan x="6.51322328" y="42.6666667">1400</tspan>
                  </text>
                  <text id="1600">
                      <tspan x="6.51322328" y="11">1600</tspan>
                  </text>
              </g>
              <g id="GRAPHS" transform="translate(64.000000, 16.000000)" stroke-linecap="round" stroke-width="8" stroke-linejoin="round">
                  <polyline id="Banks" stroke="#5BCAC1" points="0 1 88.0438662 1 128.985782 137 180.170616 137 224.189573 182 256.947867 91 301.990521 137 346.009479 91 392.087202 91 429.952607 179"></polyline>
                  <polyline id="Bridge" stroke="#81DEFF" points="2.04739336 183 54.2559242 227 96.2274882 47 133.080569 1 302.018438 1 346.680361 44.6280822 386.957346 0 427.905213 43"></polyline>
                  <polyline id="PayPal" stroke="#F6F5A6" points="2.04739336 180 53.273159 180 99.2985782 91 137.175355 47 219.077488 47 256.947867 90 301.990521 47 349.080569 137 398.228672 137 432 91"></polyline>
              </g>
              <g id="x_axis" transform="translate(71.974046, 271.541667)" font-size="11.0833333" font-family=".HelveticaNeueDeskInterface-Regular, .Helvetica Neue DeskInterface" fill="#000" opacity="1" font-weight="bold">
                  <text id="1">
                      <tspan x="0.396183206" y="11">1</tspan>
                  </text>
                  <text id="2">
                      <tspan x="39.2603361" y="11">2</tspan>
                  </text>
                  <text id="3">
                      <tspan x="78.8786567" y="11">3</tspan>
                  </text>
                  <text id="4">
                      <tspan x="118.496977" y="11">4</tspan>
                  </text>
                  <text id="5">
                      <tspan x="158.115298" y="11">5</tspan>
                  </text>
                  <text id="6">
                      <tspan x="197.733619" y="11">6</tspan>
                  </text>
                  <text id="7">
                      <tspan x="237.351939" y="11">7</tspan>
                  </text>
                  <text id="8">
                      <tspan x="276.97026" y="11">8</tspan>
                  </text>
                  <text id="9">
                      <tspan x="316.58858" y="11">9</tspan>
                  </text>
                  <text id="10">
                      <tspan x="359.229833" y="11">10</tspan>
                  </text>
                  <text id="11">
                      <tspan x="400.036703" y="11">11</tspan>
                  </text>
                  <text id="12">
                      <tspan x="438.466474" y="11">12</tspan>
                  </text>
              </g>
              <g id="grid" transform="translate(46.618321, 4.750000)" stroke="#000" stroke-linecap="square" opacity="1">
                  <path d="M0.396183206,1.1875 L478.991396,1.1875" id="Line"></path>
                  <path d="M0.396183206,32.8541667 L478.991396,32.8541667" id="Line"></path>
                  <path d="M0.396183206,64.5208333 L478.991396,64.5208333" id="Line"></path>
                  <path d="M0.396183206,96.1875 L478.991396,96.1875" id="Line"></path>
                  <path d="M0.396183206,127.854167 L478.991396,127.854167" id="Line"></path>
                  <path d="M0.396183206,159.520833 L478.991396,159.520833" id="Line"></path>
                  <path d="M0.396183206,191.1875 L478.991396,191.1875" id="Line"></path>
                  <path d="M0.396183206,222.854167 L478.991396,222.854167" id="Line"></path>
                  <path d="M0.396183206,254.520833 L478.991396,254.520833" id="Line"></path>
              </g>
          </g>
      </svg>
    </tesla>
</html>

          


          
        </div>

        <div class="col-lg-2 box">
          <h2 class="wtr">Dash Board</h2>
          <ul >
 
            <a class="a" href="{% url 'admain'%}"><li class="d p-2 text-center "><i class="fa fa-user" aria-hidden="true"></i><br>Admin</li></a>
            <a class="a" href="{% url 'customer'%}"><li class="d p-2 text-center "><i class="fa fa-users" aria-hidden="true"></i><br>Customer</li></a>
            <a class="a" href="{% url 'reader'%}"><li class="d p-2  text-center "><i class="fa fa-id-card" aria-hidden="true"></i><br>Meter Reader</li></a>
            <a class="a" href="{% url 'counter'%}"><li class="d p-2 text-center "><i class="fa fa-calculator" aria-hidden="true"></i><br>Counter</li></a>
            <a class="a" href="{% url 'billrate'%}"><li class="d p-2 text-center "><i class="fa fa-building" aria-hidden="true"></i><br>Bill Rate</li></a>
          </ul>


        </div>

        
      </div>
      </div>
    

<footer class="container-fluid footer1">

<div class="row ">

<div class="col-lg-4 mt-3">
<img src="{% static 'images/Transparent.png' %}" class="fl" alt="">
</div>
<div class="col-lg-4 mt-3  ctn">
<h2>Contact</h2>
<ul>
  <label >Email:</label>
  <li><a href="">info.waterbilling.com</a></li>

  <label >Phone no:</label>
  <li><a href="">+977 9800000000</a></li>

  <label >Location:</label>
  <li><a href="">Naxal, Kathmandu</a></li>
  
</ul>
</div>

<div class="col-lg-4 mt-3 ctn">
<h2>Service</h2>
<ul>
  <li><a href="">Admin</a></li>
  <li><a href="">Customer</a></li>
  <li><a href="">Meter Reading</a></li>
  <li><a href="">Counter</a></li>
  <li><a href="">Bill Rate</a></li>
</ul>
</div>


</div>
</footer>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>