<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
</head>
<body>
    <table border="2">
        <tr>
            <th>Employee </th>
            <th>Employee Name</th>
            <th>citizenship</th>
        </tr>
        {%for result in data%}
        <tr>
            <td>{{result.email}}</td>
            <td>{{result.name}}</td>
            <td>{{result.citizenship}}</td>
            <td><a href="Edit/{{result.email}}">Edits</a></td>
            <td><a href="Delete/{{result.email}}" onclick="confirm('Are You Sure Want To Delete the Record?')">Delete</a></td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>