<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, officiis laboriosam. Culpa eveniet facere obcaecati iusto neque libero, similique nemo mollitia aspernatur corrupti quasi ipsam recusandae a repellat explicabo voluptate!
    <table></table>
    Lorem ssipsum dolor sit amet consectetur adipisicing elit. Beatae quaerat eos modi, qui doloribus sunt. Quas sunt fugiat, culpa rerum sint, dolor delectus eveniet commodi cumque quis animi libero perspiciatis.
</body>
</html>